@import './theme.scss';

/*Header styles*/
.nav {
  width: 100%;
  padding: 30px;
  box-shadow: 8px 0 25px rgba(0, 0, 0, 0.05);

  @include themify($themes) {
    background: themed('headerFooterBackground');
  }
  
  &-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

/*Layout wrapper styles*/

.layout-wrapper {
  @include themify($themes) {
    background: themed('bodyBackgroundColor');
    color: themed('textColor');
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
}

/*Footer styles*/
.footer {
  width: 100%;
  z-index: 99;
  height: 78px;
  display: flex;
  @include themify($themes) {
    background: themed('headerFooterBackground');
    color: themed('textColor');
  }
  .footer-content {
    text-align: center;
    max-width: 1200px;
    margin: auto;
  }
}

.footer-bg {
  
  @include themify($themes) {
    background: linear-gradient(
      to bottom,
      themed(headerFooterBackground) 0%,
      themed(headerFooterBackground) 28%,
      black 28%,
      black 100%
    )
  }
};